.Home{
    width: 100%;
    padding: 30px 60px;

    @media screen and (max-width: 480px) {
        padding: 30px;
    }

    .box{
        background-color: $black;
        max-width: 500px;
        width: 100%;
        min-height: 300px;
        margin-bottom: 2rem;
        padding: 30px 60px;
        border-radius: 10px;
        
        @media screen and (max-width: 480px) {
            padding: 30px;
        }

        h3{
            font-size: $medium - 0.5rem;
            color: $white;
            margin-bottom: 1rem;
        }

        p{
            color: $blue;
            font-size: $small;
            margin-bottom: 1rem;
        }
    }
}